--- 
# Only the main Sass file needs front matter (the dashes are enough) 
--- 

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}";
@import "minimal-mistakes";

$text-color: #323232 !default;
$muted-text-color: $text-color !default;
$primary-color: #dcdcdc !default;
$border-color: mix(#fff, $text-color, 75%) !default;
$footer-background-color: #464646 !default;
$link-color: #dcdcdc !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $text-color !default;
$navicon-link-color-hover: mix(#fff, $text-color, 80%) !default;

html {
    font-size: 14px;

    @include breakpoint($small) {
        font-size: 14px;
    }

    @include breakpoint($medium) {
        font-size: 14px;
    }

    @include breakpoint($large) {
        font-size: 14px;
    }

    @include breakpoint($x-large) {
        font-size: 16px;
    }
}
